body {
    display: block;
    overflow-x: hidden;
  }
  #img-main{
    margin-top: 50px;
  }
  #img-carro{
    position: relative;
    left: 200px;
  }
  nav { 
    height: 90px;
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    background-color: white;
  }
  .navbar-brand img {
    max-height: 50px;
  }
  .navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
  }
  nav ul li a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
  }
  nav ul li a:hover {
    color: #62CB0F;
  }
h1{
  margin-top: 50px;
}

  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
  }
  h1:hover{
    color:#62CB0F ;
  }
  section p {
    font-size: 16px;
    font-weight: 300;
  }
  button {
    max-width: 50%;
    border-radius: 50px !important;
  }
  #hero .col {
    justify-content: center; 
    flex-direction: column;
    display: flex;
  }
  #hero .img-col {
    justify-content: flex-end; 
    margin-top: 100px;
  }
  #hero img {
    
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
  }
  #hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  #img1 .img-card1{
    width: 250px;
  }
  footer #contact{
    background-color: #4da50b;
  }


  #projects .projects {
    margin-bottom: 50px;
  }

   
  #contact {
    text-align: center;
    background-color: #683aa4;
    color: white;
  }
  #contact h1 {
    text-align: center;
    color: white;
  }

  .menu {
    width: 20px;
  } 